<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <input id="input" type="text" name="name">
        <button id="searchBtn">検索</button>
        <p><a href="/create">ユーザーの追加</a></p>
        <table id="selectedList">
            <tbody>
                <tr>
                    <td>選択された情報一覧</td>
                </tr>
            </tbody>
        </table>
        <table id="personasList">
            <tbody>
                <% for(let i=0; i < personas.length; i++) { %>
                    <tr>
                        <td>
                            <%= personas[i].name %>
                        </td>
                        <td>
                            <%= personas[i].email %>
                        </td>
                        <td><a href="/edit/<%= personas[i].id%>">更新</a></td>
                        <td><a href="/delete/<%= personas[i].id%>">削除</a></td>
                        <td><button class="selectBtn">選択</button></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <script type="text/javascript">
            let personas = JSON.parse('<%= JSON.stringify(personas) %>'.replace(/&#34;/g, '"'));
            let body = document.querySelector('body');
            body.insertAdjacentHTML('beforeend', `<ul></ul>`);
            let input = document.querySelector('#input');
            let searchBtn = document.querySelector('#searchBtn');
            let trs1 = document.querySelectorAll('#personasList tr');
            // 課題01 nameで絞り込み
            function searchName() {
                for (let i = 0; i < personas.length; i++) {
                    if (personas[i].name.indexOf(input.value) === -1) {
                        trs1[i].remove();
                    }
                }
            }
            searchBtn.addEventListener('click', searchName);

            // 課題02 選択ボタンで格納
            let selectedList = document.querySelector('#selectedList tbody');
            for (let i = 0; i < personas.length; i++) {
                let selectBtn = document.querySelectorAll('.selectBtn');
                selectBtn[i].addEventListener('click', function () {
                    selectedList.insertAdjacentElement('beforeend', trs1[i]);
                })
            }



        </script>
    </body>
</html>
